{% extends 'base.html' %}

{% block content %}

    <h1>Login...Yeah!</h1>
    <br>
    {% if error %}
    <div class="alert alert-danger" 
         role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="POST" 
          action="{% url 'login' %}">
    {% csrf_token %}
        Username:
        <br>
        <input type="text" 
               name="username">
        <br>
        <br>
        Password:
        <br>
        <input type="password" 
               name="password">
        <br>
        <br>
        <input type="submit" 
               text="Sign In!"
               class="btn btn-primary"/>
    </form>
    <br>

{% endblock %}